body{
    background-color: white;    
}
.title{
    text-align: center;
    padding-bottom: 20px;
    
}

.service-col {
    flex-basis: 100%;
    border-radius: 10px;
    margin: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
  }
  
  h3 {
    font-weight: 300;
    margin: 10px 0;
  }
  
  .price-box {
    border: 1px solid black;
    width: 100px;
    height: 25px;
  }
  
  
  .output {
    color: black;
  }